<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('pages/head'); %>
</head>
<body style="background-color: rgb(172, 191, 173);">
    <header>
        <!-- Navbar -->
        <section>
            <head>
                <style>
                  .dropbtn {
                     background-color: rgba(0,0,0,0.2); 
                    color: white;
                    padding: 12px;
                    font-size: 16px;
                    border: none;
                  }
                  
                  .dropdown {
                    position: relative;
                    display: inline-block;
                  }
                  
                  .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                  }
                  
                  .dropdown-content a {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                  }
                  
                  .dropdown-content a:hover {background-color: #ddd;}
                  
                  .dropdown:hover .dropdown-content {display: block;}
                  
                  .dropdown:hover .dropbtn {background-color: #3e8e41;}
                  </style>
              </head>
              <nav class="navbar bg-dark mb-2">
                  <div class="container">
                    <a class="navbar-brand text-white" href="/">
                      <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24"> -->
                      AnimaFarm
                    </a>
                    <ul class="nav justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <!-- <a class="nav-link text-white" href="/login">Login</a> -->
                        <p><%=merge.fullname%></p>
                        </div>
                      </li>
                      <li class="nav-item">
                        <!-- <a class="nav-link  active text-white" href="/signup">Signup</a> -->
                      </li>
                    </ul>
                  </div>
                </nav>
        </section>
        <!-- Navbar -->
      
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://media.istockphoto.com/id/1141741148/photo/autumn-at-a-cattle-ranch-in-colorado-near-ridgway-county-road-12-rocky-mountains.jpg?s=612x612&w=0&k=20&c=QoQTsph-2zrl8MdHCoEBoXMKcm6LOR0ZHYTTtjjwhNw=');
            height: 400px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">AnimaFarm</h1>
                <h4 class="mb-3">Livestock products at its best...</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>
      <main>
        <div class="container text-center d-flex justify-content-center align-items-center h-100 p-5">
          <div class="row align-items-start">

      <!--  -->
     
        <% products.map(function(product){ %>
            <div class="col-md-3">
              <div class="card mb-3">
                <img src="<%=`${merge.image}`%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=merge.name%></h5>
                  <p class="card-text"><%=merge.description%></p>
                  <a href="#" class="btn btn-primary"><%=merge.price%></a>
                  <a href="<%=`/show/${merge.id}` %>" class="btn btn-primary">View</a>
                  <!-- <a href="/show" class="btn btn-primary">View</a> -->
                </div>
              </div>
            </div>
         <% }) %>
      <!--  -->

      
           
          </div>
        </div>
      </main>
      <%- include('pages/footer'); %>
</body>
</html>