<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('pages/head'); %> 
</head>
<body>
    <section>
        <%- include('pages/head'); %> 
    </section>
    <main>
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </main>

    
    <%- include('pages/footer'); %>
</body>
</html>






