<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('pages/head'); %>
</head>
<body style="background-color: rgb(172, 191, 173);">
    <header>
        <!-- Navbar -->
        <section>
          <%- include('pages/header'); %>
        </section>
        <!-- Navbar -->
      
        <!-- Background image -->
        <div
          class="p-5 text-center bg-image"
          style="
            background-image: url('https://media.istockphoto.com/id/1141741148/photo/autumn-at-a-cattle-ranch-in-colorado-near-ridgway-county-road-12-rocky-mountains.jpg?s=612x612&w=0&k=20&c=QoQTsph-2zrl8MdHCoEBoXMKcm6LOR0ZHYTTtjjwhNw=');
            height: 400px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">AnimaFarm</h1>
                <h4 class="mb-3">Livestock products at its best...</h4>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                >Contact Us</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Background image -->
      </header>
      <main>
        <div class="container text-center d-flex justify-content-center align-items-center h-100 p-5">
          <div class="row align-items-start">

      <!--  -->
     
        <% products.map(function(product){ %>
            <div class="col-md-3">
              <div class="card mb-3">
                <img src="<%=`${product.image}`%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <p class="card-text"><%=product.description%></p>
                  <a href="#" class="btn btn-primary"><%=product.price%></a>
                  <a href="<%=`/show/${product.id}` %>" class="btn btn-primary">View</a>
                  <!-- <a href="/show" class="btn btn-primary">View</a> -->
                </div>
              </div>
            </div>
         <% }) %>
      <!--  -->

      
           
          </div>
        </div>
      </main>
      <%- include('pages/footer'); %>
</body>
</html>