<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('pages/head'); %> 
</head>
<body style="background-color: rgb(172, 191, 173);">
    <header>
    <section>
      
      <nav class="navbar bg-dark mb-2">
        <div class="container">
          <a class="navbar-brand text-white" href="/">
            <!-- <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24"> -->
            AnimaFarm
          </a>
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active text-white" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  active text-white" href="/cart">Cart
                <span class="badge rounded-pill bg-danger" id="increase">0</span>
              </a>
              <!-- <h1>C</h1> -->
            </li>
          </ul>
        </div>
      </nav>
    </section>
     <!-- Background image -->
     <div
     class="text-center bg-image"
     style="
       background-image: url('https://media.istockphoto.com/id/1141741148/photo/autumn-at-a-cattle-ranch-in-colorado-near-ridgway-county-road-12-rocky-mountains.jpg?s=612x612&w=0&k=20&c=QoQTsph-2zrl8MdHCoEBoXMKcm6LOR0ZHYTTtjjwhNw=');
       height: 400px;
     "
   >
     <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
       <div class="d-flex justify-content-center align-items-center">
         <div class="text-white">
           <h1 class="mb-3">Product View</h1>
           <h4 class="mb-3">Name of product</h4>
           <a class="btn btn-outline-light btn-lg" href="#!" role="button"
           >Buy</a
           >
         </div>
       </div>
     </div>
   </div>
   <!-- Background image -->
 </header>
    
 <div class="px-5 justify-content-center p-5 vh-100">
    <div class="row g-5 ">
      <div class="col-md-4">
        <img src=<%=`${section.image}`%> class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"><%=`${section.name}`%></h5>
            <p class="card-text"><%=`${section.category}`%> </p>
            <p class="card-text"><%=`${section.description}`%></p>
            <a href="#" class="btn btn-primary"><%=`${section.price}`%></a>
            <a href="#" class="btn btn-primary" id="cart">Add to cart</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('pages/footer'); %>
  <script>
    const cart = document.getElementById('cart')
    const increase = document.getElementById('increase')
    let count = 0
    cart.addEventListener("click", (e)=>{
      e.preventDefault()
      return increase.innerHTML = count++
    })
  </script>
</body>
</html>